$blue: #18194A;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App .ui.form input:not([type]),
.App .ui.form input[type=date],
.App .ui.form input[type=datetime-local],
.App .ui.form input[type=email],
.App .ui.form input[type=file],
.App .ui.form input[type=number],
.App .ui.form input[type=password],
.App .ui.form input[type=search],
.App .ui.form input[type=tel],
.App .ui.form input[type=text],
.App .ui.form input[type=time],
.App .ui.form input[type=url] {
  tap-highlight-color: rgb(24, 25, 74);
  border: 1px solid rgb(24, 25, 74);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  .ui.menu .item {
    border-bottom: 1px solid rgba(24, 25, 74, 1);
  }
  .ui.visible.left.overlay.sidebar {
    background-color: #fff;
    border-right: 1px solid rgba(24, 25, 74, 1);
    .item {
      color: #18194A;
      font-weight: 700;
    }
  }
}

.site-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  height: 140px;
  img.App-logo  {
    height: 100px;
    width: auto;
  }
}

body {
  background-image: url('https://palmermarc.github.io/ironfist/assets/images/stormwind.jpg');
}

.login-wrapper {
  background-image: url('/assets/images/stormwind.jpg');
  background-size: cover;
  position: absolute;
  margin: 0 !important;
  text-align: center;
  height: 100vh;
  width: 100vw;
  z-index: 999999;

  &.bg-1 {
    background-image: url('https://palmermarc.github.io/ironfist/assets/images/stormwind.jpg');
  }
  &.bg-2 {
    background-image: url('https://palmermarc.github.io/ironfist/assets/images/shattered-sky.jpg');
  }
  &.bg-3 {
    background-image: url('https://palmermarc.github.io/ironfist/assets/images/bolvar.jpg');
  }
  &.bg-4 {
    background-image: url('https://palmermarc.github.io/ironfist/assets/images/bolvar-lost.jpg');
  }
  &.bg-5 {
    background-image: url('https://palmermarc.github.io/ironfist/assets/images/sylvanas.jpg');
  }

  .login-wrapper-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.75);
  }

  .ui.bottom.attached.button {
    background-color: $blue;
    color: #FFF;
  }

  i {
    color: $blue;
  }

  .ui.stacked.segment {
    min-height: 100px;
  }

  .ui.stacked.segment:after,
  .ui.stacked.segment:before,
  .ui.stacked.segments:after,
  .ui.stacked.segments:before {
    display: none !important;
  }

  .ui.segment {
    box-shadow: 4px 4px 25px 0 $blue;
  }

  .login-logo {
    width: 50%;
  }
}

.wrap {
  margin: 100px;
}

.members-table {
  .member-name {
    text-transform: capitalize;
  }
  .member-class-icon {
    img {
      height: 25px;
      width: 25px;
      border-radius: 10px;
    }
  }
}

.member-breakout {
  h1 {
    float: left;
  }
  .member-ancillary-crap {
    float: right;
    &:after {
      clear: both;
    }
  }
}